.body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 8px;
    background-color: #1f2937;
}
.header-img{
    display: flex;
    flex: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 50px;
    border: none;
}
.website-name{
    display: flex;
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: #e5e7eb;
}
/* p{
    color: #e5e7eb;
    font-size: 24px;
    font-weight: bold;
    margin-left: 50px;
} */
/* .right-links{
    display: inline-block;
} */
ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-right: 50px;
    padding: 0;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    background-color: #1f2937;
}
.top-img{
    display: flex;
}
.top-image{
    width: 350px;
    height: 150px;
    border: none;
}

.text-1,
.text-1-con{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.text-1-low{
    color: #e5e7eb;
}
.button-1{
    background-color: #3882f6;
    color: white;
    border:none;
    padding: 5px;
    border-radius: 4px;
}
.mid-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.text-3{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.mid-images{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 48px;
    flex: 1;
}
figure{
    display: flex;
    gap: 20px;
}
figcaption{
    display: flex;
    justify-content: center;
    max-width: 100px;
}
img{
    width: 100px;
    height: 100px;
    border: 3px solid lightblue;
    border-radius: 5px;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    padding: 20px;
}
.author{
    font-weight: bold;
}
.lower-body{
    display: flex;
    justify-content: center;
    flex: 1;
}
.sub-lower{
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    margin: 50px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    gap: 50px;
    flex-wrap: wrap;
}
.button-2{
    display: flex;
    align-self: center;
    background-color: #3882f6;
    color: white;
    border:3px solid white;
    padding: 5px;
    border-radius: 4px;
}
.text-4{
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 20px;
}