.body{
    display: flex;
    gap: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1f2937;
}
.logo{
    color: #e5e7eb;
    border: 3px solid navajowhite;
}
.right-links{
    display: inline-block;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #1f2937;
}
.top-img{
    display: flex;
    width: 300px;
    height: 150px;
    padding: 20px;
}
.text-1,
.text-1-con{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.text-1-low{
    color: #e5e7eb;
}
.button-1{
    background-color: #3882f6;
    color: white;
    border:none;
    padding: 5px;
    border-radius: 4px;
}
.mid-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.text-3{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    flex: 1;
}
.mid-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    padding: 20px;
}
.author{
    font-weight: bold;
}
.lower-body{
    display: flex;
    justify-content: center;
    flex: 1;
}
.sub-lower{
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    margin: 50px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    gap: 50px;
    flex-wrap: wrap;
}
.button-2{
    display: flex;
    align-self: center;
    background-color: #3882f6;
    color: white;
    border:3px solid white;
    padding: 5px;
    border-radius: 4px;
}
.text-4{
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 20px;
}