.body{
    display: flex;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1f2937;
}
.logo{
    color: #e5e7eb;
    border: 3px solid navajowhite;
}
.right-links{
    display: inline-block;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}